// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  height: 100%;
 
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 5;
  height: 99%;
  overflow-y: scroll;
}

.grid-wrapper {
    flex: 1 1 0px;
    width: 100%;
}

table {
  width: 100%;
  overflow-y: scroll;
  max-height: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    min-width: 160px;
}
.hidden {
    display: none;
}
.menu-item {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
}
.menu-item:hover {
    background-color: #f1f1f1;
}

.table-container{
    
    overflow: auto;
}

.center{
    align-items: center;
    text-align: center;
    justify-content: center;
}